services:
  mysql:
    container_name: mysql8.0
    image: mysql:8.0
    platform: ${DOCKER_BUILD_PLATFORM}
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${DOCKER_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DOCKER_MYSQL_DATABASE}
      MYSQL_USER: ${DOCKER_MYSQL_USER}
      MYSQL_PASSWORD: ${DOCKER_MYSQL_PASSWORD}
    networks:
      vote_net:
        ipv4_address: 172.20.0.9

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin
    platform: ${DOCKER_BUILD_PLATFORM}
    restart: always
    ports:
      - '9444:80'
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: ${DOCKER_MYSQL_ROOT_PASSWORD}
    networks:
      vote_net:
        ipv4_address: 172.20.0.10
    depends_on:
      - mysql

  redis:
    container_name: redis
    image: redis:latest
    platform: ${DOCKER_BUILD_PLATFORM}
    ports:
      - "6379:6379"
    restart: always
    networks:
      vote_net:
        ipv4_address: 172.20.0.11

  vote:
    container_name: vote
    platform: ${DOCKER_BUILD_PLATFORM}
    ports:
      - "9443:9443"
    build:
      context: ./
      dockerfile: Dockerfile
    command: ./main
    restart: always
    networks:
      vote_net:
        ipv4_address: 172.20.0.80
    depends_on:
      - mysql
      - redis

  drone:
    container_name: drone.server
    image: drone/drone:2.15
    platform: ${DOCKER_BUILD_PLATFORM}
    restart: always
    ports:
      - 9445:80 # 對外的 port 可自由修改，這邊以 9445 為例
    networks:
      vote_net:
        ipv4_address: 172.20.0.12
    volumes:
      - ./docker/data:/data
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 2G
    environment:
      DRONE_SERVER_HOST: ${DOCKER_DRONE_SERVER_HOST} # your domain，填與 github webhook callback url 一樣即可
      DRONE_SERVER_PROTO: https # 與外界溝通使用 https
      DRONE_RPC_SECRET: ${DOCKER_DRONE_RPC_SECRET} # 可自行產生一串亂碼作為 drone rpc token
      # github
      DRONE_GITHUB_CLIENT_ID: ${DOCKER_DRONE_GITHUB_CLIENT_ID} # 填入 github OAuth 提供的 client id
      DRONE_GITHUB_CLIENT_SECRET: ${DOCKER_DRONE_GITHUB_CLIENT_SECRET} # 填入 github OAuth 提供的 client secret
      # log, for debug use
      DRONE_DEBUG: true
      DRONE_LOGS_PRETTY: true
      DRONE_LOGS_COLOR: true
      DRONE_LOGS_TRACE: true
    
  drone-runner:
    container_name: drone.runner
    image: drone/drone-runner-docker:1
    platform: ${DOCKER_BUILD_PLATFORM}
    restart: always
    networks:
      vote_net:
        ipv4_address: 172.20.0.13
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 2G
    environment:
      DRONE_RPC_HOST: drone
      DRONE_RPC_SECRET: ${DOCKER_DRONE_RPC_SECRET} # 填入和上面 drone server 一樣的值
      DRONE_RPC_PROTO: http # 與 drone server 是透過 docker 內網溝通，使用 http 即可
      DRONE_RUNNER_CAPACITY: 5
      DRONE_RUNNER_NAME: drone-docker-runner
      # log, for debug use
      DRONE_DEBUG: true
      DRONE_LOGS_PRETTY: true
      DRONE_LOGS_COLOR: true
      DRONE_LOGS_TRACE: true

networks:
  vote_net:
    ipam:
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1

volumes:
  data: {}